::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog {
  background-color: #1e1e1e;
  border: none;
  border-radius: 16px;
  padding: 16px;
}

.dialog .body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 0 40px;
  padding: 10px 0;
}

.btn-close-wrapper {
  text-align: right;
}

.btn-close {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
